/* Your overrides: loaded last */

/* Light mode */
:root {
  --global-theme-color: #0067c8f6;      /* 主色：链接/高亮/按钮等 */
  --global-hover-color: #04a9e4;      /* hover 色 */
  --global-text-color: #111111;
  --global-bg-color: #ffffff;
}


