/* Your overrides: loaded last */

/* Light mode */
:root {
  --global-theme-color: #0067c8f6;      /* main theme color */
  --global-hover-color: #04a9e4;      /* hover color */
  --global-text-color: #111111;
  --global-bg-color: #ffffff;
}

/* distance of subtitle to pub-item */
.pubs-h2 + details.pub-item{
  margin-top: 0.8rem;  
}

/* header unbolded */
.navbar .navbar-brand,
.navbar .navbar-brand * {
  font-weight: 400 !important;
}

.publications h2.bibliography { display: none !important; }

